.BigBanner {
    position: relative;
    margin-bottom: 148px;
}

.big-image img {
    max-width: 1163px;
    max-height: 578px;
}

.news-box {
    position: absolute;
    left: 50%;
    top: 30%;
    background-color: #69A391;
    padding: 24px 24px 24px 42px;
    max-width: 621px;
    opacity: 0.8;
}

.news-box p {
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF
}

.news-box a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 2px;

}

.news-carousel {
    position: absolute;
    left: 50%;
    top: 85%;
    max-width: 50%;
}

.news-carousel ul {

    display: flex;
    overflow: hidden;
    padding-left: 0;
    scroll-snap-type: x mandatory;
    /* scroll-snap-type: none; */
    /* -webkit-overflow-scrolling: touch; */

}

.scroll-arrows {
    position: absolute;
    right: 50%;
    bottom: -5%;

}

.scroll-arrows img {
    margin-right: 17px;

}

.scroll-arrows img:hover {
    cursor: pointer;
}

@media (max-width: 414px) {

    .big-image img {
        width: 100%;

    }

    .news-box {
        position: absolute;
        top: 20%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        max-width: 80%;
        background-color: #69A391;
        padding: 12px 12px 12px 21px;
        opacity: 0.8;
    }

    .news-break {
        display: none;
    }

    .news-box p {
        font-size: 18px;
        
    }

    .news-box a {
        font-size: 10px;
    }

    .news-carousel {
        left: 0;
        max-width: 100%;
        margin-left: 0;
    }

    .news-carousel ul {
        overflow: scroll;
    }

    .scroll-arrows {
        display: none;
    }


}