

.event-card {
    width: 342px;
    height: 156px;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    
}

.event-date-container {
    height: 100%;
    width: 125px;
    background-color: #21878f;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 125px;
    
    
}

.event-description {
    padding-left: 28px;
    display: block;
    align-items: flex-start;
    background-color: white;
    max-height: 156px;
   
}

.event-description-link {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-description-link a {
    text-overflow: ellipsis;
    
}

.event-card:hover .event-date-container {
    background-color: #fdac1d;
}


.event-date-container h1 {
    font-size: 50px;
    margin: 1px;

}

.event-date-container h3 {
    font-size: 32px;
    margin: 0px;

}

.event-date-container p {
    font-size: 10px;
    margin: 0px;
}

.reduced-event-date {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #3e3e40;
}

.location-time-p {
    font-size: 12px;
    color: #3e3e40;
    
    
}

.event-card:hover a {
    text-decoration: underline;
}

.location-pin {
    fill: #21878f;
    height: 10px;
    width: 8px;
    line-height: 13px;
}

.clock {
    fill: #21878f;
    height: 9px;
    width: 9px;
    line-height: 12px;
}

.event-card:hover .location-pin {
    fill: #fdac1d;
}

.event-card:hover .clock {
    fill: #fdac1d;
    
}

.category {
    color: #21878f;
    font-size: 10px;
}

.event-card:hover .category {
    color: #fdac1d;
}



