.news-component {
    margin: 0 10% 120px 10%;
}

.noticias-component-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 20px;
}

.noticias-component-header a {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    
}

.noticias-component-header a:hover {
    color: #64ae87;
}

.card-collection {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 414px) {

    .card-collection {
        overflow-x: auto;
        overflow-y: hidden;
    }
       
}