
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  max-width: 1366px;
  align-items: center;
}

.banner {
  height: 300vh;
}

.App {
  background-color: #F9F9F9;
  
}

.top-header {
  display: flex;
  align-items: center;
  background-color: #246970;
  height: 38px;
  padding-right: 150px;
  padding-left: 150px;
  
}

.top-header a {
  margin-left: 20px;
}

.top-header .search {
  margin-left: auto;
  display: flex;
}

.top-header .search div {
  margin-left: 20px
}

.top-header input[type="text"] {
  background-color: #246970;
}

.sticky-header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 76px;
  padding-right: 150px;
  padding-left: 150px;
}


