
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  margin: auto;
  ;
}

* {
  font-family: 'Montserrat', sans-serif;
  max-width: 1366px;
  align-items: center;

}

.banner {
  height: 300vh;
}

.App {
  background-color: #F9F9F9;
  
}




