
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  margin: auto;
  max-width: 1366px;
  min-width: 800px;
  
  
}

* {
  font-family: 'Montserrat', sans-serif;
  align-items: center;

}

.banner {
  height: 300vh;
}

.App {
  background-color: #F9F9F9;
  
}

.component-title-font {
  font-weight: 500;
  color: #3e3e40;
  font-size: 18px;
  letter-spacing: 1px;
  
}

.component-title-underline {
  border: 1px solid #21878F;
  width: 62px;
}

.mobile-link p{
  text-align: center;
}

.mobile-link a {
  font-weight: 400;
  font-size: 16px;
  color: #69A391;
  text-decoration: underline;
  
}
.mobile-link {
  display: none;
}




@media (max-width: 414px) {
  body {
    width: 100%;
    margin: 0;
    width: device-width;
    min-width: 0px;
  }

  .mobile-link {
    display: block;
}

}



